<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="utf-8">
    <title>BOOLFLIX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body>
    <div class="app">
      <input v-model="actualSearch" type="text" >
      <button type="button" name="button" @click="movieSrc()">cerca</button>
      <div class="container">
        <ul>
          <li v-for="picture in picturesArray">
            <div v-if="picture.original_language === 'en'" >
              <img src="./img/en.png" alt="en">
            </div>
            <div v-else-if="picture.original_language === 'it'" >
              <img src="./img/it.png" alt="it">
            </div>
            <div v-else>
              Lingua: {{picture.original_language}}
            </div>
            Titolo:{{picture.title}}  Titolo Originale:{{picture.original_title}}
            <i class="fas fa-star" v-for="n in getStars(picturesArray)"></i>
           <i class="far fa-star" v-for="n in 5 - getStars(picturesArray)"></i>

          </li>

        </ul>
      </div>
    </div>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
