<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="utf-8">
    <title>BOOLFLIX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body>
    <div class="app">
      <header>
        <div >
          <input v-model="actualSearch" type="text" v-on:keyup.enter="movieSrc(),getGenres()" >
          <i class="fas fa-search" @click="movieSrc()"></i>
        </div>
      </header>
      <div class="sidebar">
        <div class="typeOf">

        </div>
        <div class="genres">
          <h2>Generi</h2>
          <ul >
            <li @click="getActualGenre(genre.id),filteredGenres(actualGenre)" v-for="genre in genresArray" :value="genre.name">
              <i class="fas fa-circle-notch"></i>
              {{genre.name}}
            </li>
          </ul>
        </div>
      </div>
      <div class="placeholder">
      </div>
      <div class="container">
        <ul>
          <li v-for="(film,index) in filmsArray" >
            <div class="posterContainer">
              <div class="">
                Overview: {{film.overview}}
              </div>
              <img v-if="film.poster_path" id="moviePoster" :src="'https://image.tmdb.org/t/p/'+'w300'+film.poster_path">
              <img v-else src="./img/download.png" alt="">
            </div>
            <div v-if="film.original_language === 'en'" >
                Lingua:<img class="movieLanguage" src="./img/en.png" alt="en">
            </div>
            <div v-else-if="film.original_language === 'it'" >
                Lingua:<img class="movieLanguage" src="./img/it.png" alt="it">
            </div>
            <div v-else>
              Lingua: {{film.original_language}}
            </div>
            <span v-if="film.title">Titolo:{{film.title}}</span>
            <span v-if="film.original_title">Titolo originale:{{film.original_title}}</span>
            <i class="fas fa-star" v-for="n in getStars(film.vote_average)"></i>
           <i class="far fa-star" v-for="n in 5 - getStars(film.vote_average)"></i>

          </li>

        </ul>
      </div>
    </div>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
