<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="utf-8">
    <title>BOOLFLIX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body>
    <div class="app">
      <input v-model="actualSearch" type="text" >
      <button type="button" name="button" @click="movieSrc();seriesSrc();imgSrc()" >cerca</button>
      <button type="button" name="button" >img</button>
      <div class="container">
        <ul>
          <li v-for="(film,index) in filmsArray" >
            <img :src="'https://image.tmdb.org/t/p/'+'w300'+ picturesArray[index]">
            <div v-if="film.original_language === 'en'" >
                Lingua:<img src="./img/en.png" alt="en">
            </div>
            <div v-else-if="film.original_language === 'it'" >
                Lingua:<img src="./img/it.png" alt="it">
            </div>
            <div v-else>
              Lingua: {{film.original_language}}
            </div>
            <span v-if="film.title">Titolo:{{film.title}}</span>
            <span v-if="film.original_title">Titolo:{{film.original_title}}</span>
            <i class="fas fa-star" v-for="n in getStars(film.vote_average)"></i>
           <i class="far fa-star" v-for="n in 5 - getStars(film.vote_average)"></i>

          </li>

        </ul>
      </div>
    </div>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
